<h2>Updating prompt</h2>

<form #updatedPrompt="ngForm" (ngSubmit)="submitUpdatedProcess(updatedPrompt.value)">
<div *ngFor=" let displayInfo of latestStageList">
    <br>

    <div><b> Stage Title: </b> {{displayInfo.stageTitle}}</div>
    <br><br>
</div>

<div>
    <div class="input-group mb-0">
        <input id="id" name="id" [ngModel]="this.updatedProcess.id" type="hidden" class="form-control">
    </div>
    <div class="input-group mb-0">
        <input id="idOfTitle" name="idOfTitle" [ngModel]="this.updatedProcess.idOfTitle" type="hidden" class="form-control">
    </div>

    <div class="input-group mb-3">
        <label>
            <span class="input-group-text" id="basic-addon1">Process Title: </span>
            <input type="text"
                   name="process"
                   class="form-control"
            [(ngModel)]="updatedProcess.process">
        </label>
        </div>
        <br><br>
    <div class="input-group mb-3">
        <label>
            <span class="input-group-text" id="basic-addon2">Prompt text: </span>
            <input type="text"
                   name="prompt"
                   class="form-control"
                   [(ngModel)]="this.updatedProcess.prompt"
                   />
        </label>
    </div>
    <div>
        <input type="radio">
        {{updatedProcess.prompt}}
    </div>
</div>
    <div>
    <button type="submit" >Save</button>
    </div>
</form>
<br><br>
<div>
    <button (click)="onCancel()">Cancel</button>
</div>