


<div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <h3>Create a Process</h3>
        <form #stageForm="ngForm"  (ngSubmit)="savePrompt(stageForm)">

            <div><h4>Stage Title: </h4> </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon0">Title ID: </span>
                <input  ngModel name="idOfTitle" class="form-control" aria-label="idOfTitle" type="number">
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Process Title: </span>
                <input  ngModel name="process" class="form-control" aria-label="process" type="text">
            </div>
            <br>
            <div class="input-group mb-3" name="trueOrFalse">
                <br>

                <br>
                <div >
                <div>
                    <span class="input-group-text" id="basic-addon4">Prompt text #1: </span>
                    <input name="prompt" ng-show="radioBtn" [(ngModel)]="prompt" class="form-control" aria-label="Prompt" type="text">
                    <div class="m-1">
                        <input type="radio" >{{prompt}}
                    </div>
                </div>
                <div>

                    <span class="input-group-text" id="basic-addon6">Prompt text #2: </span>
                    <input name="prompt" [(ngModel)]="prompt2" class="form-control" aria-label="Prompt" type="text">
                    <div class="m-1">
                        <input type="radio" >{{prompt2}}
                    </div>
                </div>
                    <div>

                        <span class="input-group-text" id="basic-addon7">Prompt text #2: </span>
                        <input name="prompt" [(ngModel)]="prompt3" class="form-control" aria-label="Prompt" type="text">
                        <div class="m-1">
                            <input type="radio" >{{prompt3}}
                        </div>
                    </div>
            </div>
            </div>
            <br><br>

            <br>
      <textarea></textarea>

            <br>
        </form>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button (click)="Cancel()" class="btn btn-warning" type="button">Cancel</button>
        <button (click)="savePrompt(stageForm)">Save</button>

    </div>
</div>




