
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <h3>Create a Title</h3>
        <form #login="ngForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Process Title: </span>
                <input ngModel name="Process" class="form-control" aria-label="Process">
            </div>
        </form>
        <button (click)="generateStage()">Create Stage</button>
    </div>
</div>