
<h2>Summary</h2>

<div><h4> ID: </h4></div>
<!--{{stage.iD}}-->

<div><h4> Date Created: </h4></div>
<!--{{stage.dateCreated}}-->

<div><h4> Stage Title: </h4></div>
<!--{{stage.processTitle}}-->

<div><h4>Prompt(s): </h4></div>
<!--{{stage.prompt}}-->

<div><h4> Response(s): </h4></div>
<!--{{stage.response}}-->

<div><h4> User Reply: </h4></div>
<!--{{stage.reply}}-->

<div><h4>Total Complete: </h4></div>
<!--{{stage.total}}-->

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
<!--    <button (click)="Edit()" class="btn btn-success">Edit</button>-->
    <button (click)="cancel()" class="btn btn-danger" type="button">Cancel</button>
    <button (click)="submit()" class="btn btn-primary" type="button">Main Menu</button>
</div>
