
<h2>Welcome</h2>

<!--<div><h4> ID: </h4></div>-->
<!--&lt;!&ndash;{{stage.iD}}&ndash;&gt;-->

<!--<div><h4> Date Created: </h4></div>-->
<!--&lt;!&ndash;{{stage.dateCreated}}&ndash;&gt;-->

<!--<div><h4> Stage Title: </h4></div>-->
<!--&lt;!&ndash;{{stage.processTitle}}&ndash;&gt;-->

<!--<div><h4>Prompt(s): </h4></div>-->
<!--&lt;!&ndash;{{stage.prompt}}&ndash;&gt;-->

<!--<div><h4> Response(s): </h4></div>-->
<!--&lt;!&ndash;{{stage.response}}&ndash;&gt;-->

<!--<div><h4> User Reply: </h4></div>-->
<!--&lt;!&ndash;{{stage.reply}}&ndash;&gt;-->

<!--<div><h4>Total Complete: </h4></div>-->
<!--&lt;!&ndash;{{stage.total}}&ndash;&gt;-->

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
<!--    <button (click)="Edit()" class="btn btn-success">Edit</button>-->
<!--    <button (click)="cancel()" class="btn btn-danger" type="button">Cancel</button>-->
    <button (click)="submit()" class="btn btn-primary" type="button">Enter</button>
</div>
