
<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Main</h1>
    </div>
</nav>

<div>
    <div class="text-danger">
        {{deleteFailMessage}}
    </div>

    <div class="text-success">
        {{deleteSuccessMessage}}
    </div>
    <div class="text-danger">
        {{createFailMessage}}
    </div>

    <div class="text-success">
        {{createSuccessMessage}}
    </div>
    <div class="text-danger">
        {{updateFailMessage}}
    </div>

    <div class="text-success">
        {{updateSuccessMessage}}
    </div>
</div>

<br>
<app-process-display></app-process-display>
<br>
<br><br>
<div class="d-grid gap-2 d-md-flex justify-content-md-start m-5">
    <button (click)="createStage()" class="btn btn-success">New Stage</button>
    <button (click)="exitApp()" class="btn btn-primary">Exit</button>
</div>