
<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Process Manager</h1>
    </div>
</nav>

<h2>Main Menu</h2>
<br>
<div>
    <div class="text-danger">
        {{deleteFailMessage}}
    </div>

    <div class="text-success">
        {{deleteSuccessMessage}}
    </div>
    <div class="text-danger">
        {{createFailMessage}}
    </div>

    <div class="text-success">
        {{createSuccessMessage}}
    </div>
    <div class="text-danger">
        {{updateFailMessage}}
    </div>

    <div class="text-success">
        {{updateSuccessMessage}}
    </div>
</div>
<app-process-display></app-process-display>
<br>
<!--<app-new-stage></app-new-stage>-->
<br><br>
<div class="d-grid gap-2 d-md-flex justify-content-md-start m-5">
    <button (click)="createStage()" class="btn btn-success">New Stage</button>
</div>