
<nav class="navbar navbar-light bg-primary bg-opacity-75">
    <div class="input-group justify-content-end">
    <button (click)="exitApp()" class="btn btn-success">Exit</button>
    </div>
</nav>
<div class="input-group m-3 text-primary justify-content-center">
</div>
<div class="input-group m-3 justify-content-center">
    <div class="input-group m-3 justify-content-center text-danger">
        {{deleteFailMessage}}
    </div>
    <div class="input-group m-3 justify-content-center text-success">
        {{deleteSuccessMessage}}
    </div>
    <div class="text-danger">
        {{createFailMessage}}
    </div>

    <div class="text-success">
        {{createSuccessMessage}}
    </div>
    <div class="text-danger">
        {{updateFailMessage}}
    </div>

    <div class="text-success">
        {{updateSuccessMessage}}
    </div>
</div>
<br>
<div class="m-3">
<app-process-display></app-process-display>
</div>
<br>
<br><br>
<div class="input-group justify-content-center m-5">
    <button (click)="createStage()" class="btn btn-primary">New Stage</button>
</div>