
<div *ngIf ="!isCreatingStage && !isCreatingTitle && !isCreatingProcess && !isUpdating && isViewingMain">
    <app-main></app-main>
</div>

    <div *ngIf ="!isCreatingStage && !isCreatingProcess && !isViewingMain && !isUpdating && isCreatingTitle">
<app-title>s</app-title>
    </div>

<div *ngIf ="!isCreatingStage && !isCreatingTitle && !isViewingMain && !isUpdating && isCreatingProcess">
    <app-process></app-process>
</div>

<div *ngIf = "!isCreatingStage && !isCreatingTitle && !isViewingMain && !isUpdating && !isCreatingProcess && !isReviewing">
    <app-summary></app-summary>
</div>

<div *ngIf = "!isCreatingStage && !isCreatingTitle && !isViewingMain &&!isCreatingProcess && !isUpdating && isReviewing">
    <app-results></app-results>
</div>

<div *ngIf = "!isCreatingStage && !isCreatingTitle && !isViewingMain &&!isCreatingProcess && !isReviewing && isUpdating">
    <app-update></app-update>
</div>