<h2>Stages Created</h2>

<div *ngFor="let displayInfo of latestProcessList">

    <div>
    <div><b> Id: </b>{{displayInfo.iD}}</div>

    <div><b>Date Created: </b>{{displayInfo.date | date}} </div>

    <div><b> Stage Title: </b>{{displayInfo.title}}</div>

<!--    <div><b> Prompt:</b>{{displayInfo.prompt}}</div>-->


<div>
    <button (click)="Edit(displayInfo)" class="btn btn-success">Edit</button>
    <button (click)="Delete(displayInfo.iD)" class="btn btn-danger" type="button">Delete</button>
    <button (click)="Results()" class="btn btn-primary" type="button">Results</button>
</div>
</div>
</div>